* { 
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica, arial, verdana, sans-serif;
	color: #FFFFFF;
}

h1 {
	font-size: 24px;
	margin: 10px 0;
	font-weight: bold;
}
h2 {
	font-size: 18px;
	margin: 3px 0;
	font-weight: normal;
}
h3 {
	font-size: 11px;
	font-weight: normal;
}

html { height: 100%; }
body { font-size: 13px; height: 100%; background: url('/images/bg_gradient.png') #FFF repeat-x; }

.container_16 {display: table;}
.container_16 .header, .container_16 .body, .container_16 .footer { background-color: transparent; float: left; }
.container_16 .header { background: url('/images/bg_container_header.png') no-repeat; width: 985px; height: 30px; }
.container_16 .body { background: url('/images/bg_container_body.png') repeat-y; width: 975px; padding-left:10px;  }
.container_16 .footer { background: url('/images/bg_container_footer.png') no-repeat; width: 985px; height: 41px; }

.time { font-size: 20px; }
.small_text { font-size: 11px; }
.small_text .grid_12 { 
	margin-top: 3px;
	margin-bottom: 4px;
	border-top:1px solid;
}

.e1 {
	margin-top: 20px;
}
.e2 {
	margin-bottom:30px;
}

.write {
	font-size: 16px;
	margin: 3px 0;
	font-weight: bold;
}

.center {text-align:center;}

#container {
	padding-bottom:16px;
}
#logo img {
	margin-bottom: 16px; 
}

a>img { border: 0; }

.floss{
	text-align:center;
}

.draggable {
	border: 1px solid #000;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 3px 6px;
	z-index: 3;
	cursor:move;
	background-color: white;
}

.care{ 
	border: 0px solid #000;
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: bold;
	color: #000;
}

.occasion {
	background-color: yellow;
}


.tooth {
	border: 0px solid #000;

}

img.draggable {
	height: 70px;
}

.pad{
	padding-top: 40px;
}

.pad2{
	padding-top: 8px;
}

.droppable {
	border: 1px solid #000;
	padding: 3px 8px;
	margin: 6px 0;
}
.luxury_words.droppable{ height: 80px; }
.luxury_words2.droppable{ height: 160px; }
.brands.droppable{ height: 520px; }
.draggable.selected { background-color: #eee; }
.draggable.selected.tooth { background-color: #fff; }

.multiple_markable_item, .markable_item {
	border: 1px solid #EEE;
	padding: 4px 0px 4px 0px;
	border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; 
}

.multiple_markable_item:hover, .multiple_marked_item, .markable_item:hover , .marked_item { border: 1px solid #333; background: #EEE; padding: 4px 0px 4px 0px;
	border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px;
}
.markable_item input[type="radio"] , .marked_item input[type="radio"] { display: none; }
.multiple_markable_item input[type="checkbox"] , .multiple_marked_item input[type="checkbox"] { display: none; }

.alt_color {
	color: #777;
}



/* deveria do tamanho do grid_8, mas por causa do jquery precisa adicionar padding precisa
 ter um tamanho um pouco menor */
#progressbar.grid_8 { width: 462px; float: left; }

.navigation {
	text-align:center;
	background-color:#F4D0B8;
}

.error_messages { color: darkred; }
.error_messages ul { margin: 2px 16px; }

.e2{
	text-align:right;
}

.e3{
	font-size: 64px;
	margin: 3px 0;
	font-weight: bold;
	border:2px solid #fff ;
}


.e4{
	margin-top:10px;
}

.entrada{
	width:100px; height:14px;
}

.e5{
	margin-left:0px;
}


.dia{
	border:1px;
}
.textarea{
	width:464px;height:50px;
}	
.bold{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
	


#teste{ 
	margin-top:4px;width:580px;border:0px; padding: 2px 4px;
	}
	
.flash{
	color: darkred;	text-align:center;	margin-bottom:16px
}	


/*** FORMULARIOS ***/
input[type="text"],input[type="password"],  select {width:100%;border:0px}
input[type="text"],input[type="submit"],input[type="password"]
input[type="submit"] {margin-top:4px;width:50px;border:0px }
textarea {width:342px;height:40px; margin-top:4px;}


/*** Calendar ***/
#calendar {
  border-collapse: collapse;
  width: 100%;
}
 
#calendar td,
#calendar th {
  color: #ccc;
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
}
 
#calendar th {
  border: 1px solid #ccc;
  background: #ccc;
  color: #666;
  text-align: left;
}
 
#calendar td {
  background: #f0f0f0;
  border: 1px solid #ddd;
}
 
#calendar span {
  display: block;
}
 
#calendar td.events {
  background: #fff;
}
 
#calendar td.today {
  background: #666;
  color: #fff;
}
 
#calendar caption {
  display: none;
}