<div class="clear vgutter">&nbsp;</div>
<div class="vgutter enclose">
	<div class="grid_11">&nbsp;</div>	
	<%= image_submit_tag "btn_next.png", :onmouseover=>"javascript:$(this).attr('src','/images/btn_next_over.png')", :onmouseout=>"javascript:$(this).attr('src','/images/btn_next.png')", :class=>'grid_3' %>
</div>