<div class="grid_12 prefix_3">
		<div class="grid_12">	
			<div class="grid_2 center e3">
				 02
				
			</div>
			<div class="grid_2">
				entrada:
				<input type="text" name="textfield">
			</div>
			<div class="grid_3">
				saída:
				<input type="text" name="textfield">
			</div>
			<div class="grid_1">projeto:</div>
			<div class="grid_2">
				<select name="select">
					<option value="0">select</option>
					<option value="1">colgate</option>
				</select>
			</div>
			<div class="grid_8">
				<div class="grid_8 e4">
					<textarea name="textarea" rows="4"></textarea>
				</div>
			</div>	
		</div>	
		<div class="grid_10 ">
			<input type="submit" id="teste" value="Confirmar" />
		</div>
	</div>	
		<div class="grid_10 prefix_3 e2 ">
			Visualizar registros <span class="indicator">+</span>
			<div class="grid_10 none">
				<div class="grid_2 " style= "text-align:left">
					kaue kaue kaue
				</div>	
			</div>
		</div>
</div>
