<h1 class="grid_16 center">Send new password to e-mail</h1>

<div class="grid_16">&nbsp;</div>
<div class="grid_16">&nbsp;</div>

<% unless flash[:notice].blank? %>
<div class="grid_6 prefix_5 center fieldWithErrors"><%= flash[:notice] %></div>
<div class="grid_16">&nbsp;</div>
<% end %>

<% form_for :user, :url=>{:action=>:send_password} do |f| %>
	<div class="grid_3 prefix_5">E-mail</div>
	<div class="grid_3"><%= f.text_field :email %></div>
	<div class="grid_16">&nbsp;</div>
	
	<div class="grid_3 prefix_5">
		<%= f.submit "Send" %>
	</div>
	<div class="grid_3"><%= link_to "login page", login_path %></div>
<% end %>
