<h1 class="grid_16 center">Reports</h1>
<div class="grid_16">&nbsp;</div>

<div class="prefix_2 grid_12 suffix_2">
	<%= link_to "Lincoln Luxury", :action=>:lincoln_luxury %>
</div>
<div class="prefix_2 grid_12 suffix_2">
	<%= link_to "Millennial", :action=>:millenium %>
</div>
<div class="prefix_2 grid_12 suffix_2">
	<%= link_to "Quality", :action=>:quality %>
</div><strong></strong>