<div class="grid_16 center">
	<%= link_to "Privacy", privacy_path, :target=>"_blank" %> -
	<%= mail_to 'legal@disperseinteractive.com', 'Contact us', :encode=>"javascript" %> -
	<%= link_to "Disclaimer", disclaimer_path, :target=>"_blank" %>
</div>
<div class="grid_16">&nbsp;</div>
<div class="grid_16 center">
	
	
	<small>Best viewed with <a href="http://www.mozilla.com/en-US/firefox/" target="_new"> Mozilla Firefox version 3.0+</a>,<a href="http://www.google.com/chrome/" target="_new"> Google Chrome</a>, <a href="http://www.apple.com/safari/download/" target="_new">Apple Safari version 3.0+</a> and <a href="http://www.microsoft.com/windows/downloads/" target="_new">Microsoft Internet Explorer version 8.0+</a>.</small>
</div>
