<h1 class="grid_16">Privacy Statement</h1>

<p class="grid_16">Disperse Interactive, Inc., a New York-based corporation, is the administrator of this website. Protecting your personal privacy is very important to us at Disperse Interactive, Inc. ("DI") Below you will find a statement of our commitment to ensuring the privacy of your responses (such as your geographic location, health and medical conditions, and/or other identifying information). This privacy policy statement is applicable to the Generalquestions.info(SM) website (the “Site”).</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16"><strong>Information We Collect and How We Use It </strong><br />
	Visitors may provide personally identifiable information to DI during this visit to this Site. We do not collect personally identifiable information from our visitors other than what is supplied to us on a voluntary basis on this Site.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">Personally identifiable information may be voluntarily provided by the user in connection with certain content submissions, community postings (i.e., wall posts, micro-blogs, feeds, chats, forums, groups, boards), comments and suggestions, emails, rating and/or voting.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">In addition, DI may collect Internet Protocol (“IP”) addresses. An IP address is a number that is automatically assigned to your computer whenever you are surfing the Web. DI does not link IP addresses to anything personally identifiable so your use of our Site remains anonymous.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">This Site may make available to its users integration with and access to other sites. Upon leaving this Site, any information that you disclose on those other sites may become public information and you should exercise extreme caution when deciding to disclose such information.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">DI may use such information for its internal purposes, including but not limited to, editorial feedback, marketing and promotional purposes. DI may also use this information for trend analysis, pattern detection, and site administration. </p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">DI will never willfully disclose any personally identifiable information about our visitors to any third party.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">Only persons 13 and older may provide personally identifiable information to DI. Persons 13 and younger may visit the Site but may not provide any personally identifiable information.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16"><strong>Use of Cookies</strong><br />
Cookies are pieces of information that a web site transfers to an individual’s hard drive for record-keeping purposes. Cookies make web-surfing easier for you by documenting prior visit information. The use of cookies is an industry standard, and you will find cookies at most major web sites. Cookies also help DI to see which areas are popular and which are not popular and allow DI to make improvements and updates to the Site based on such data as total number of visitors and pages viewed. This information is most easily tracked with cookies.
</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">DI never uses cookies to retrieve information from your computer that was not originally sent in a cookie. DI does not use information transferred through cookies for any promotional or marketing purposes, nor is that information shared with any third parties whatsoever.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">Most browsers are initially set to accept cookies. If you prefer, you can change your browser settings to refuse cookies. However, in so doing, you may not be able to fully utilize the DI Site or may experience difficulties accessing parts of the site.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16"><strong>Information Security </strong><br />
Our site has industry standard security measures in place to protect the loss, misuse and alteration of the information under our control. Although there is no “perfect security” on the Internet, DI will take all reasonable steps to ensure the safety of your personal information.
</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16"><strong>California Privacy Rights </strong><br />
Pursuant to Section 1798.83 of the California Civil Code, residents of California have the right to request from a business, with whom the California resident has an established business relationship, certain information with respect to the types of personal information the business shares with third parties for direct marketing purposes by such third party and the identities of the third parties with whom the business has shared such information during the immediately preceding calendar year. Under California law, California residents who have an established business relationship with DI may choose to opt out of the disclosure of personal information about them to third parties for marketing purposes. You may make a request for the information you are entitled to receive under Section 1798.83 of the California Civil Code by sending a letter to such effect to: Legal Department, Disperse Interactive, 419 Lafayette, New York, NY 10003.
</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16"><strong>Hyperlinking to Site </strong><br />
Hyperlinking to the Site and use of any of DI’s names, logos, designs, slogans, product trademark or service marks in any manner, or the use of DI’s or any other words or codes in any “metatag”, is permitted without the express written permission of DI.
</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">By using this Site you are giving your tacit approval and assent to this privacy statement.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">From time to time DI will revise and amend this privacy statement.  All changes will be posted on this web site as they become effective.  This statement is valid beginning January 2010.</p>
<div class="grid_16">&nbsp;</div>

<p class="grid_16">If you have any comments, questions or requests, please write to <%= mail_to 'legal@disperseinteractive.com', 'legal@disperseinteractive.com', :encode=>:javascript %></p>
<div class="grid_16">&nbsp;</div>