<h1 class="grid_14 prefix_1 suffix_1 vgutter" style="margin-top: 24px; margin-bottom: 16px;"><%= yield :question %></h1>

<div class="clear">&nbsp;</div>
<div class="grid_12 suffix_2 prefix_2 enclose error_messages"><%= error_messages_for :colgate, :header_message=>'' %></div>
<div class="clear vgutter">&nbsp;</div>

<%= yield %>

<div class="vgutter">&nbsp;</div>