<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= print_env %>
		Auto Survey</title>
	<%= stylesheet_link_tag 'grid', 'lincoln_luxury'  %>
</head>
<body>
	<%= grid_on_off %>
    <div id="container" class="container_16 enclose">
		<div class="header">&nbsp;</div>
				
		<div class="content body">
        	<%= yield %>
		</div>

		<div class="footer">&nbsp;</div>
  	</div>
</body>
</html>
